altair
click
streamlit
streamlit-authenticator==0.2.2
streamlit_autorefresh
pandas
protobuf
geopy
folium
plotly
azure-identity
azure-keyvault-secrets
azure-keyvault-certificates
git+https://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:x-oauth-basic@github.com/mtaenergy/mtatk.git@main
