altair
click
streamlit
streamlit-authenticator
streamlit_autorefresh
pandas
protobuf
geopy
folium
plotly
azure-identity
azure-keyvault-secrets
azure-keyvault-certificates
git+https://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:x-oauth-basic@github.com/mtaenergy/mtatk.git@main
